@using FinalProject.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="font-weight:bold;">Checkout</h1><br /><br />

@{
    if (Session["Cart"] != null)
    {
        <table>
            <tr style="width:100px;">
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Sub Total</th>
            </tr>
            @foreach (var cart in (List<Cart>)Session["Cart"])
            {
                <tr style="height:30px;">
                    <td width="260" class="heads">@Html.ActionLink(@cart.Product.Brand.Name + " " + @cart.Product.Name, "Details", "Store", new { id = cart.Product.ProductId }, null)</td>
                    <td width="200">$@cart.Product.Price</td>
                    <td width="200">@cart.Quantity</td>
                    <td width="200">@(String.Format("{0:C2}", cart.Product.Price * cart.Quantity))</td>
                </tr>
            }

            <tr>
                <td colspan="3" style="font-weight:bold;">Total:</td>
                <td style="font-weight:bold;">
                    @{
                        List<Cart> temp = (List<Cart>)Session["Cart"];
                        var total = String.Format("{0:C2}", temp.Sum(x => x.Quantity * x.Product.Price));
                    }

                    @total
                </td>
            </tr>
        </table><br /><br />
    }

    else
    {
        <h3>Cart is Empty</h3>
    }

}
@using (Html.BeginForm("ProcessOrder", "ShoppingCart", FormMethod.Post, new { id = "customer-form" }))
{
    <table>
        <tr>
            <td colspan="3"><b>Please Enter Your Information</b></td>
        </tr>
        <tr>
            <td>First Name</td>
            <td><input type="text" name="cusFName" /></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input type="text" name="cusLName" /></td>
        </tr>
        <tr>
            <td>Phone</td>
            <td><input type="text" name="cusPhone" /></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" name="cusEmail" /></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><input type="text" name="cusAddress" /></td>
        </tr>
        <tr>
            <td>City</td>
            <td><input type="text" name="cusCity" /></td>
        </tr>
        <tr>
            <td>State</td>
            <td><input type="text" name="cusState" /></td>
        </tr>
        <tr>
            <td>Postal Code</td>
            <td><input type="text" name="cusPostalCode" /></td>
        </tr>
        <tr>
            <td colspan="3"><input type="submit" value="Process Order" /></td>
        </tr>

    </table>
}

<script type="text/javascript">
    $("#customer-form").validate({
        rules: {
            cusFName: {
                required: true
            },
            cusLName: {
                required: true
            },
            cusPhone: {
                required: true
            },
            cusEmail: {
                required: true
            },
            cusAddress: {
                required: true
            },
            cusCity: {
                required: true
            },
            cusState: {
                required: true
            },
            cusPostalCode: {
                required: true
            }
        }

    });
</script>

